<% if (user) { %>
<a class="d-flex align-items-center hidden-arrow <%= dropdown ? 'dropdown-toggle' : '' %>" href="/<%= user.username %>" <%= dropdown ? 'id="navbarDropdownMenuAvatar" data-mdb-dropdown-init aria-expanded="false"' : '' %> role="button">
  <img src="<%= user.profile_image %>" class="rounded-circle shadow-sm border border-primary border-2" width="<%= width %>" height="<%= height %>" style="object-fit: cover;" alt="<%= user.firstname %>'s profile" loading="lazy" />
</a>
<% } %>