<% if (user) { %>

<!-- Dummy Post Input -->
<div class="card bg-body-tertiary p-3">
  <div class="d-flex align-items-center gap-2">

    <!-- Avatar Partial -->
    <%- include('./avatar', { dropdown: false }) %>

    <!-- Readonly dummy input triggers modal -->
    <input type="text" class="form-control rounded-pill ps-3 border-0" placeholder="<%= placeholder %>, <%= user.firstname %>" readonly style="cursor: pointer;" data-mdb-toggle="modal" data-mdb-target="#actionModal" data-action="<%= dataAction %>" data-title="<%= dataTitle %>" data-id="<%= dataId %>" data-user-id="<%= user._id %>" />

  </div>
</div>

<% } %>