<div class="card bg-body-tertiary shadow-sm mb-3">
  <!-- Cover Photo Area -->
  <div class="bg-secondary text-white rounded-top-3" style="height: 200px; position: relative;"></div>

  <!-- Profile Info Section -->
  <div class="card-body position-relative pb-0">
    <!-- Profile Picture -->

    <div class="position-absolute" style="top: -75px; left: 20px;">
      <div class="rounded-circle overflow-hidden bg-light border border-4 border-primary" style="width: 150px; height: 150px;">
        <a href="/posts/684c077d8f61501f2446209a/view">
          <img src="<%= viewUser.profile_image %>" class="img-fluid" alt="Profile Picture">
        </a>
      </div>
    </div>

    <!-- Profile Details -->
    <div class="ms-2 mt-5 pt-3 mb-3">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center">
        <div class="mb-3 mb-md-0">
          <h3 class="mb-1"><%= viewUser.firstname %> <%= viewUser.lastname %></h3>
          <div class="d-flex gap-3" style="font-size: 13px;">
            <!-- <p class="text-muted mb-2"><%= totalDocuments || 0 %> Posts</p> -->
            <p class="text-muted mb-2"><span class="fw-bolder"><%= viewUser.following?.length || 0 %></span> Following</p>
            <p class="text-muted mb-2"><span class="fw-bolder"><%= viewUser.followers?.length || 0 %></span> Followers</p>
          </div>
        </div>

        <% if (user?._id && viewUser?._id && user._id.toString() === viewUser._id.toString()) { %>
        <div class="d-flex flex-wrap gap-2">
          <button class="btn btn-primary btn-sm btn-md" onclick="window.location = '/<%= viewUser.username %>/edit'">
            <i class="fa fa-pencil me-2"></i> <span class="d-sm-inline">Edit profile</span>
          </button>
        </div>
        <% } else { %>


        <span class="d-inline-block" tabindex="0" data-mdb-tooltip-init title="Next Feature!">
          <button class="btn btn-sm btn-outline-primary disabled">
            Follow
          </button>
        </span>
        <% } %>

      </div>

      <!-- Bio Section -->
      <div class="mt-3">
        <p class="fw-light" style="font-size: 15px;"><%= viewUser.bio %></p>
        <!-- <div class="small">
          <i class="fa fa-link me-2"></i>
          <a href="#" class="text-decoration-none">keithponcardas.com</a>
        </div> -->
      </div>
    </div>
  </div>

  <%- include('../partials/profileNavigationTabs', { viewUser, path, currentPage }) %>

</div>